# the cmake lists file:
!CMakeLists.txt
CMakeFiles
CMakeScripts
CMakeCache.txt
Testing
Makefile
*.cmake
compile_commands.json
_deps


# ----------------------------------------------------------------------
# From GitHub (defaults)
# ----------------------------------------------------------------------

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
.vscode

// Compiled Code
wjsonformat
!wjsonformat/
